@charset "UTF-8";
/* ===================== CSS樣式重置 =====================  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===================================================================== */
body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
}

/* 嵌入字型 */
@font-face {
  font-family: “Roboto-Bold”;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: “Roboto-BoldItalic”;
  src: url(../fonts/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: “Roboto-Black”;
  src: url(../fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: “Roboto-BlackItalic”;
  src: url(../fonts/Roboto-BlackItalic.ttf);
}
@font-face {
  font-family: “Roboto-Medium”;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: “Roboto-MediumItalic”;
  src: url(../fonts/Roboto-MediumItalic.ttf);
}
/* 引用嵌入字型 */
.Roboto-Black {
  font-family: “Roboto-Black”;
}

.Roboto-BlackItalic {
  font-family: “Roboto-BlackItalic”;
}

.Roboto-Bold {
  font-family: “Roboto-Bold”;
}

.Roboto-BoldItalic {
  font-family: “Roboto-BoldItalic”;
}

.Roboto-MediumItalic {
  font-family: “Roboto-MediumItalic”;
}

h2 {
  font-family: “Roboto-MediumItalic”;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
}

h2 {
  font-family: “Roboto-MediumItalic”;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
}

.banner {
  width: 100%;
  min-height: 958px;
  background: url(../images/banner-01.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-info {
  color: #fff;
  width: 304px;
}
.banner-info ul li:nth-child(2) {
  font-size: 80px;
  line-height: 106px;
  margin-bottom: 32px;
}
.banner-info ul li:nth-child(3) {
  width: 283px;
  margin: 0 auto;
  padding: 4px 0;
  margin-bottom: 40px;
}
.banner-info ul li:nth-child(4) {
  width: 288px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .title {
  margin-top: 56px;
  margin-bottom: 40px;
}
.about img {
  display: block;
  margin-bottom: 20px;
}
.about p {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 4px;
}
.about .year {
  margin-bottom: 8px;
}
.about .school {
  width: 412px;
  height: 72px;
  text-align: center;
  margin-bottom: 0;
}

.about .line {
  display: block;
  width: 384px;
  height: 1px;
  color: #000;
  margin-top: 24px;
  margin-bottom: 27px;
}

.about ul {
  text-align: center;
  margin-bottom: -28px;
}
.about ul li {
  margin-bottom: 28px;
}
.about ul li::before {
  content: "";
  display: inline-block;
  background-color: #891818;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 16px;
}

.my-brand {
  color: #fff;
  background-color: #000;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-brand .title {
  margin-top: 56px;
  margin-bottom: 12px;
}
.my-brand p {
  margin-bottom: 32px;
}
.my-brand .w-320 {
  width: 320px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 0;
}

.my-brand .t-shirt-1 {
  margin-top: 68px;
  margin-bottom: 40px;
}

.my-brand .t-shirt-2 {
  margin-bottom: 160px;
}
.my-brand .t-shirt-2 .t-shirt-2-1 {
  margin-right: 24px;
}

.other-works {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.other-works .title {
  margin-top: 56px;
  margin-bottom: 16px;
}
.other-works .works {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  width: 226px;
  margin-bottom: 56px;
}

.other-works ul {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.other-works ul li {
  font-size: 20px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.other-works ul li img {
  margin-bottom: 16px;
}

.other-works ul:last-child {
  margin-bottom: -48px;
}

.contact {
  color: #fff;
  background-color: #000;
  margin-top: 144px;
  padding: 64px 0;
}
.contact title {
  margin-top: 64px;
  margin-bottom: 16px;
}
.contact p,
.contact .mail {
  text-align: center;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 33px;
}
.contact a {
  color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

* {
  outline: 1px solid red;
}/*# sourceMappingURL=all.css.map */